/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.grid-row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.grid-row  {
  clear: both;
  margin: 2%;
}

/* Positioning Classes */

[attr $ "-column"] {
    float: left;
    margin-left: 2%;
  }
  
[class *= "-column"]:first-child {
  margin-left: 0;
}

.one-column {
  width: 32%;;
}

.two-column {
  width: 66%;
}